.wsu-social-search-tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wsu-social-search-tabs li {
    float: left;
    display: block;
    margin-right: 5px;
    padding: 0;
    margin-bottom: 0;
}

.wsu-social-search-tabs li a {
    width: 90px;
    display: block;
    text-align: center;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 10px 0;
    text-decoration: none;
    font-weight: bold;
    background-color: #efefef;
    position: relative;
    z-index: 2;
    top: 1px;
}

.wsu-social-search-tabs li.active-tab a {
    border-bottom: 1px solid #fff; 
    background-color: #fff;
    z-index: 4;
    outline: none
}
.wsu-social-search-tabs li.active-tab a:focus {
    outline: none;
    box-shadow: none;
}
.wsu-social-search-tabs li a:before {
    content: "";
    width: 40px;
    height: 40px;
    background: #ccc;
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.wsu-social-search-tabs li a.fb-tab:before {
    background-image: url(../images/facebook.png);
}

.wsu-social-search-tabs li a.tw-tab:before {
    background-image: url(../images/twitter.png);
}

.wsu-social-search-tabs li a.search-tab:before {
    background-image: url(../images/search.png);
}

.wsu-social-search-tab-content {
    clear: both;
    display: none;
    border-top: 1px solid #ccc;
    /*border: 1px solid #ccc; */
    position: relative;
    top: -1px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 3;
}


#wsu_social_options h3 {
    padding: 0 0 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.wsu-social-search-tab-content.active-tab {
    display: block;
}

.wsu-form-field-wrapper {
    padding: 0.5rem 0 1rem;
}

.wsu-form-field-wrapper.text-field label,
.wsu-form-field-wrapper.select-field label,
.wsu-form-field-wrapper.multiline-field label {
    display: block;
}

.wsu-form-field-wrapper.multiline-field textarea {
    width: 100%;
    height: 100px;
}

.wsu-form-field-media-upload-group {
    float: left;
    width: 225px;
    overflow: hidden;
}

.wsu-form-field-media-upload-group .wsu-image-preview {
    padding-bottom: 100%;
    background: #ccc;
    border: 1px solid #999;
    box-sizing: border-box;
    width: 225px;
    background-position: center center;
    background-size: cover;
}

.wsu-form-field-tw-group,
.wsu-form-field-fb-group {
    margin-left: 240px;
}